@import "../var.scss";
.#{$classPrefix}-color-picker-root {
  width: 100%;
  display: flex;
  background: hsl(
    var(--cur-hue, 0),
    var(--cur-saturation, 100%),
    var(--cur-lightness, 50%)
  );
  box-sizing: border-box;
  padding: 1%;
  user-select: none;
}
